.foooter-grid {
    
    
}

footer{
  background-color: #222222;
}

.footer-grid-item1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 100px;
    grid-gap: 1rem;
    padding: 1rem;
}

.footer-grid-item1-grid{
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 4% 5% 2% 5%;
  color: white;
  gap: 2%;
}

.footer-grid-item1-grid img{
  width: 100%;
}

.footer-grid-item1-grid p{
  font-size: 1rem;
  line-height: 3rem;
}

.footer-grid-item1-grid h1{
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-family: "Playfair Display", sans-serif;
  color: #b38e2e;
  position: relative;
  margin-bottom: 20px;
}

.footer-grid-item1-grid h1::after{
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100px;
  height: 1px;
  border-bottom: 1px dotted #b38e2e;
  background-color: #b38e2e;
}

.footer-grid-item1-grid h2{
  font-size: 1.1rem;
  font-weight: 700;
  position: relative;
}

.contact-footer p{
  font-size: 1rem;
  font-weight: 400;
  position: relative;
  line-height: 1.5em;
  margin-bottom: 30px;
}

.destinations-footer, .packages-footer{
  border-right: 1px dotted #b38e2e;
}

.destinations-footer button{
  padding: 4% 10%;
  border: none;
  background-color: #b38e2e;
  font-size: 17px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-top: 20px;
}

.destinations-footer button:hover{
  background-color: rgb(46, 45, 45);
  transform: translateY(-6px);
  transition: all 0.5s ease;
}

.footer-policies{
  grid-area: 2 / 1 / 3 / 2;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30%;
}

.footer-policies a{
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

